---
import {Button} from '@translated/babele-react'
import NavigationItem from '../components/NavigationItem.astro'
import mmtFooter from '../assets/images/logos/mt_footer.svg'
import Link from '../components/Link.astro'
import MMTLogo from '../components/MMTLogo.astro'
interface Props {
  title: string
}
import Header from '../components/Header.astro'

const {title} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ModernMT website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body data-theme="translated-light" class="bg-neutral-50">
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  @import '@translated/babele-tokens/assets/arsmaquettepro.css';
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
